Configuracion_Service/Service References/Bata_Util/Bata_Electronico.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://bataperu.com.pe/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://bataperu.com.pe/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://bataperu.com.pe/">
      <s:element name="ws_descargar_epos">
        <s:complexType />
      </s:element>
      <s:element name="ws_descargar_eposResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_descargar_eposResult" type="tns:Ba_Files" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Ba_Files">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="files" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="ValidateAcceso" type="tns:ValidateAcceso" />
      <s:complexType name="ValidateAcceso">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ws_descargar_eposSoapIn">
    <wsdl:part name="parameters" element="tns:ws_descargar_epos" />
  </wsdl:message>
  <wsdl:message name="ws_descargar_eposSoapOut">
    <wsdl:part name="parameters" element="tns:ws_descargar_eposResponse" />
  </wsdl:message>
  <wsdl:message name="ws_descargar_eposValidateAcceso">
    <wsdl:part name="ValidateAcceso" element="tns:ValidateAcceso" />
  </wsdl:message>
  <wsdl:portType name="Bata_ElectronicoSoap">
    <wsdl:operation name="ws_descargar_epos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Descarga de archivo e-pos</wsdl:documentation>
      <wsdl:input message="tns:ws_descargar_eposSoapIn" />
      <wsdl:output message="tns:ws_descargar_eposSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Bata_ElectronicoSoap" type="tns:Bata_ElectronicoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ws_descargar_epos">
      <soap:operation soapAction="http://bataperu.com.pe/ws_descargar_epos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ws_descargar_eposValidateAcceso" part="ValidateAcceso" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Bata_ElectronicoSoap12" type="tns:Bata_ElectronicoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ws_descargar_epos">
      <soap12:operation soapAction="http://bataperu.com.pe/ws_descargar_epos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ws_descargar_eposValidateAcceso" part="ValidateAcceso" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Bata_Electronico">
    <wsdl:port name="Bata_ElectronicoSoap" binding="tns:Bata_ElectronicoSoap">
      <soap:address location="http://posperu.bgr.pe/Ws_Util/Bata_Electronico.asmx" />
    </wsdl:port>
    <wsdl:port name="Bata_ElectronicoSoap12" binding="tns:Bata_ElectronicoSoap12">
      <soap12:address location="http://posperu.bgr.pe/Ws_Util/Bata_Electronico.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>